<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Home | Foxtrot Studios</title>
    <meta name="viewport" content="width=device-width, initial-scale=0.87, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="{{ css('bootstrap.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ css('stylesheet.css') }}" />

    <script type="text/javascript" src="{{ jscript('jquery-3.3.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ jscript('bootstrap.bundle.min.js') }}"></script>
    <script type="text/javascript" src="{{ jscript('js.cookie-2.2.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ jscript('custom.js') }}"></script>
    <script type="text/javascript" src="{{ jscript('fontawesome.pro.min.js') }}"></script>

</head>
<body>
    
    {% block content %}
    {% endblock %}

</body>
</html>